div:hover {
    border: 2px solid black;
}

div:first-of-type{
    color: red;
}

div:nth-of-type(2){
    color:blue;
}

div:nth-of-type(3){
    color:green;
    font-size: larger;
}

div:nth-of-type(4){
    color: purple;
}

div:last-of-type{
    color:aqua;
}

h3{
    font-family: 'Courier New', Courier, monospace;
}
div:nth-of-type(odd){
    font-style: italic;
}